html,
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    overflow: hidden;
    /* max-width: 38rem; */
    /* padding: 2rem; */
}

#blocklyDiv {
    text-align: left;
    height: 95vh;
    width: 100%;
}

.layout-container {
    display: flex;
    height: 100vh;
    width: auto;
}

.workspace-container {
    display: flex;
    flex: 2 2 0;
}

.output {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

.codeDiv {
    padding: 0%;
    height: flex;
    width: calc(500- 900);
    ;
}