.tool-bar {
    position: relative;
    justify-items: left;
    background: #EEEEFA;
    padding: 0%;
    display: flex;
    /* flex-wrap: nowrap; */
}

.tool-bar>button {
    align-items: center;
    width: 30px;
    height: 65px;
    padding: 0%;
    margin-bottom: 5px;
}

.tool-bar>div {
    align-items: center;
    width: 100%;
    height: 65px;
    padding: 0%;
    margin-bottom: 5px;
}